cmake-build-*/
.idea/
*.o
*.a
*.so
*.exe
*.dll
*.dylib
*.out
*.log
*.obj
*.lib
.DS_Store
imgui/
*_deps/

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

/build/*
!/build/Debug/
!/build/Release/
!/build/Debug/.gitkeep
!/build/Release/.gitkeep

/bin/*
!/bin/Debug/
!/bin/Release/
!/bin/Debug/.gitkeep
!/bin/Release/.gitkeep